---
layout: default
type: comercial
title: "Comercial"
---
<h1>Comercial</h1>

{% assign sorted_comercials = site.comercial | sort: "order" | reverse %}
{% for comercial in sorted_comercials %}
<a href="{{ site.baseurl }}{{ comercial.url }}" class="comercial">
    {% if comercial.background %}<div class="background" style="background-image:url({{ comercial.background }})"></div>{% endif %}
    <div class="details">
        <p>{{ comercial.title }}</p>
        <!--
        {% assign mindex = comercial.date | date: "%-m" | minus: 1 %}
        {% assign month = site.data.months.months[mindex] %}
        <span>{{ comercial.date | date: "%-d" }} {{ month }} {{ comercial.date | date: "%Y" }}</span>
        -->
    </div>
</a>
{% endfor %}
