---
layout: default
type: events
title: "Family Events"
---
<h1>Family Events</h1>

{% assign sorted_events = site.events | sort: "date" | reverse %}
{% for event in sorted_events %}
<a href="{{ site.baseurl }}{{ event.url }}" class="event">
    {% if event.background %}<div class="background" style="background-image:url({{ event.background }})"></div>{% endif %}
    <div class="details">
        <p>{{ event.title }}</p>
        <!--
        {% assign mindex = event.date | date: "%-m" | minus: 1 %}
        {% assign month = site.data.months.months[mindex] %}
        <span>{{ event.date | date: "%-d" }} {{ month }} {{ event.date | date: "%Y" }}</span>
        -->
    </div>
</a>
{% endfor %}
