<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
{% if page.excerpt %}
<meta name="description" content="{{ page.excerpt | strip_html }}" />
<meta property="og:description" content="{{ page.excerpt | strip_html }}" />
{% else %}
<meta name="description" content="{{ site.description }}">
<meta property="og:description" content="{{ site.description }}" />
{% endif %}
<meta name="author" content="{{ site.name }}" />
{% if page.title %}
<meta property="og:title" content="{{ page.title }}" />
<meta property="twitter:title" content="{{ page.title }}" />
{% endif %}
{% if page.background %}
<meta property="og:image" content="{{ page.background }}" />
{% endif %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/assets/index.css"/>